<!DOCTYPE html>
<html>
<head>
  <title>
    <%= page_title app_name: 'Stripeon', separator: ' | ' %>
  </title>
  <%= stylesheet_link_tag    "stripeon/application", media: "all" %>
  <%= javascript_include_tag "stripeon/application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class.dasherize %>">
<div id="container">
  <%= render 'layouts/stripeon/messages'%>
  <%= yield %>
</div>

</body>
</html>
